.App {
  text-align: center;
  background-color: #272b33;
}

.App-logo {
  width: 200px;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-wrapper {
  background-color: #272b33;
  width: 80%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.App-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

section {
  background-color: white;
}

Button.Primary-button {
  width: 100%;
  padding: 20px;
  background-color: #3ad3cd;
  border: none;
  font-weight: bold;
}
Button.Primary-button:hover {
  background-color: #30b0ab;
  border: none;
}

.App-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.Text-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Text-row {
  display: flex;
  flex-direction: row;
}

.Card {
  width: 500px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

img.Card-image {
  width: 150px;
}
